﻿@model SalonZaAutomobile.Models.Ugovor

        <div class="form-group">
            @Html.LabelFor(model => model.SalonAutomobilaId, "SalonAutomobilaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SalonAutomobilaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SalonAutomobilaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProizvodjacId, "ProizvodjacId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProizvodjacId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProizvodjacId, "", new { @class = "text-danger" })
            </div>
        </div>

    