﻿@model SalonZaAutomobile.Models.Ugovor

@{
    ViewBag.Title = "_UgovorItem";
}

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proizvodjac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodjac.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalonAutomobila.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalonAutomobila.Naziv)
        </dd>

    </dl>
