﻿@model SalonZaAutomobile.Models.Ugovor

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši</h2>

<h3>Da li ste sigurni da želite da obrišete ovo?</h3>
<div>
    <h4>Ugovor</h4>
    <hr />
    @{
        Html.RenderPartial("_UgovorItem");
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Nazad na ugovoret", "Index")
    </div>
    }
</div>
<p>@Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")</p>
