﻿@model SalonZaAutomobile.Models.Ugovor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ugovor</h4>
    <hr />
    @{
        Html.RenderPartial("_UgovorItem");
    }
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na ugovore", "Index") | @Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")
</p>
