﻿@model SalonZaAutomobile.Models.Automobil

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proizvodjac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodjac.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalonAutomobila.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalonAutomobila.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodinaProizvodnje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kubikaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kubikaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>

    </dl>

