﻿@model SalonZaAutomobile.Models.Automobil

@{
    ViewBag.Title = "Obriši";
}

<h2>Obriši</h2>

<h3>Da li ste sigurni da želite ovo da obrišete?</h3>
<div>
    <h4>Automobil</h4>
    <hr />
    @{
        Html.RenderPartial("_AutomobilItem");
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Nazad na automobile", "Index") | 
        @Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")
    </div>
    }
</div>
