﻿@model SalonZaAutomobile.Models.Automobil

@{
    ViewBag.Title = "Detalji";
}

<h2>Details</h2>

<div>
    <h4>Automobil</h4>
    <hr />
    @{
        Html.RenderPartial("_AutomobilItem");
    }
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na automobile", "Index")  | 
    @Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")
</p>
