﻿@model SalonZaAutomobile.Models.Automobil

@{
    ViewBag.Title = "Izmeni";
}

<h2>Izmeni</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Automobil</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @{
        Html.RenderPartial("_AutomobilFormItem");
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Nazad na automobile", "Index") | 
    @Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
