﻿@model IEnumerable<SalonZaAutomobile.Models.Automobil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Kreiraj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodjac.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalonAutomobila.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kubikaza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proizvodjac.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalonAutomobila.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kubikaza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boja)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
            @Html.ActionLink("Obrši", "Delete", new { id = item.Id }) | 
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")</p>
