﻿@model SalonZaAutomobile.Models.SalonAutomobila

@{
    ViewBag.Title = "Obriši";
}

<h2>DObriši</h2>

<h3>Da li ste sigurni da želite da obrišete ovo?</h3>
<div>
    <h4>SalonAutomobila</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
<p>@Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")</p>
