﻿@model SalonZaAutomobile.Models.SalonAutomobila

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalonAutomobila</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>
</div>
<hr />
<div>
    <p>
        <a href="/Automobils/Create?id=@Model.Id">Kreiraj novi automobil</a>
    </p>
    <h2>Automobili salona</h2>
    <table class="table">
        <tr>
            <th>
                Proizvođač
            </th>
            <th>
                Salon
            </th>
            <th>
                Model
            </th>
            <th>
                Godina Proizvodnje
            </th>
            <th>
                Kubikaža
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.AutomobiliSalona.Boja)*@
                Boja
            </th>
            <th></th>
        </tr>

        @if (Model.AutomobiliSalona != null)
        {
            foreach (var item in Model.AutomobiliSalona)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proizvodjac.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalonAutomobila.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kubikaza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Boja)
                    </td>
                    <td>
                        <a href="/Automobils/Edit?id=@item.Id&sid=@Model.Id">Izmeni</a> |
                        <a href="/Automobils/Details?id=@item.Id">Detalji</a> |
                        <a href="/Automobils/Delete?id=@item.Id">Obriši</a>

                        @* @Html.ActionLink("Izmeni", "Edit", "Automobils", new { id = item.Id }) |
                            @Html.ActionLink("Detalji", "Details", "Automobils", new { id = item.Id }) |
                            @Html.ActionLink("Obrši", "Delete", "Automobils", new { id = item.Id })*@
                    </td>
                </tr>
            }
        }

    </table>
    <hr />
    <p>
        <a href="/Ugovors/Create?id=@Model.Id">Kreiraj novi ugovor</a>
    </p>
    <h2>Ugovori salona</h2>

    <table class="table">
        <tr>
            <th>
                Proizvođač
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
        @if (Model.UgovoriSalona != null)
        {
            foreach (var item in Model.UgovoriSalona)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proizvodjac.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalonAutomobila.Naziv)
                    </td>
                    <td>
                        <a href="/Ugovors/Edit?id=@item.Id&sid=@Model.Id">Izmeni</a> |
                        <a href="/Ugovors/Details?id=@item.Id">Detalji</a> |
                        <a href="/Ugovors/Delete?id=@item.Id">Obriši</a>


                        @* @Html.ActionLink("Edit", "Edit", "Ugovors", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", "Ugovors", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Ugovors", new { id = item.Id })*@
                    </td>
                </tr>
            }
        }
    </table>

</div>



<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na glavni meni", "Index")
</p>
