﻿@model SalonZaAutomobile.Models.Proizvodjac

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Proizvodjac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na proizvođače", "Index")  | 
    @Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")
</p>
