﻿@model IEnumerable<SalonZaAutomobile.Models.Proizvodjac>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Kreiraj novog", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzava)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaljis", "Details", new { id = item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Povratak na glavni meni", "Index", "SalonAutomobilas")</p>